<div class="context">
  <div class="title">Certificats</div>
  <div class="certifs">

    <div class="certif">
      <div class="certif-title">
        <ion-icon name="ribbon-outline"></ion-icon>
        <span>CCNA1</span>
      </div>
      <div class="certif-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem quasi alias deserunt expedita? Culpa nulla nobis magni veniam beatae, minus officia suscipit hic, dignissimos laboriosam modi perspiciatis, obcaecati dolorum amet.
      </div>
    </div>

    <div class="certif">
      <div class="certif-title">
        <ion-icon name="ribbon-outline"></ion-icon>
        <span>CCNA2</span>
      </div>
      <div class="certif-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem quasi alias deserunt expedita? Culpa nulla nobis magni veniam beatae, minus officia suscipit hic, dignissimos laboriosam modi perspiciatis, obcaecati dolorum amet.
      </div>
    </div>

    <div class="certif">
      <div class="certif-title">
        <ion-icon name="ribbon-outline"></ion-icon>
        <span>CCNA3</span>
      </div>
      <div class="certif-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem quasi alias deserunt expedita? Culpa nulla nobis magni veniam beatae, minus officia suscipit hic, dignissimos laboriosam modi perspiciatis, obcaecati dolorum amet.
      </div>
    </div>



    <div class="certif">
      <div class="certif-title">
        <ion-icon name="ribbon-outline"></ion-icon>
        <span>CCNA4</span>
      </div>
      <div class="certif-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem quasi alias deserunt expedita? Culpa nulla nobis magni veniam beatae, minus officia suscipit hic, dignissimos laboriosam modi perspiciatis, obcaecati dolorum amet.
      </div>
    </div>

    <div class="certif">
      <div class="certif-title">
        <ion-icon name="ribbon-outline"></ion-icon>
        <span>CCNA security</span>
      </div>
      <div class="certif-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem quasi alias deserunt expedita? Culpa nulla nobis magni veniam beatae, minus officia suscipit hic, dignissimos laboriosam modi perspiciatis, obcaecati dolorum amet.
      </div>
    </div>

    <div class="certif">
      <div class="certif-title">
        <ion-icon name="ribbon-outline"></ion-icon>
        <span>Java Basics</span>
      </div>
      <div class="certif-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem quasi alias deserunt expedita? Culpa nulla nobis magni veniam beatae, minus officia suscipit hic, dignissimos laboriosam modi perspiciatis, obcaecati dolorum amet.
      </div>
    </div>
  </div>
</div>