<div class="context">
  <div class="title">Certificats</div>
  <div class="certifs">

    <div class="certif">
      <div class="certif-title">
        <ion-icon name="ribbon-outline"></ion-icon>
        <span>CCNA1</span>
      </div>
      <div class="certif-text">
        <strong style="color: rgb(87, 89, 190);"> Cisco Networking Academy</strong>

        Covered networking basics, including IP addressing, OSI model, and configuring basic networking devices.      </div>
    </div>

    <div class="certif">
      <div class="certif-title">
        <ion-icon name="ribbon-outline"></ion-icon>
        <span>CCNA2</span>
      </div>
      <div class="certif-text">
        <strong style="color: rgb(87, 89, 190);"> Cisco Networking Academy</strong>

        Covered networking basics, including IP addressing, OSI model, and configuring basic networking devices.      </div>
    </div>

    <div class="certif">
      <div class="certif-title">
        <ion-icon name="ribbon-outline"></ion-icon>
        <span>CCNA3</span>
      </div>
      <div class="certif-text">
        <strong style="color: rgb(87, 89, 190);"> Cisco Networking Academy</strong>

        In-depth study of advanced routing protocols and automation in enterprise networks.      </div>
    </div>



    <div class="certif">
      <div class="certif-title">
        <ion-icon name="ribbon-outline"></ion-icon>
        <span>CCNA4</span>
      </div>
      <div class="certif-text">
        C<strong style="color: rgb(87, 89, 190);"> Cisco Networking Academy</strong>

        Covered wide-area networks (WANs), network security, and end-to-end connectivity in complex networks.     </div>
    </div>

    <div class="certif">
      <div class="certif-title">
        <ion-icon name="ribbon-outline"></ion-icon>
        <span>CCNA security</span>
      </div>
      <div class="certif-text">
       <strong style="color: rgb(87, 89, 190);"> Cisco Networking Academy</strong>

        Specialized in network security, including firewalls, VPNs, and threat management techniques.      </div>
    </div>

    <div class="certif">
      <div class="certif-title">
        <ion-icon name="ribbon-outline"></ion-icon>
        <span>Java Basics</span>
      </div>
      <div class="certif-text">
        <strong style="color: rgb(179, 66, 51);">       
            Oracle Academy
        </strong>

        Learned foundational Java programming, including object-oriented principles, data types, and basic application development.      </div>
    </div>
  </div>
</div>