<div class="context">
  <div class="parts">
    <div class="links">
    
      <div class="links-title">
        Links
      </div>

      <div class="links-content">
        <span>Home</span>
        <span>Formation</span>
        <span>Experience</span>
        <span>Compétences</span>
        <span>Certifictas</span>
        <span>Contact</span>
      </div>


    </div>

    <div class="socials">
      <i class="fa-solid fa-envelope"></i>
      <i class="fa-solid fa-phone"></i>
      <i class="fa-brands fa-linkedin"></i>
      <i class="fa-brands fa-github"></i>
    </div>

    <div class="copyright">
      <p>&copy; 2024 Developed By Ramdani Salah-eddine. All rights reserved.</p>
    </div>
  </div>
</div>