<div class="formation" id="formation">
  <div class="title">
    Formation
  </div>
   <div class="content">
    <div class="image">
        <img src="../../../assets/imgs/garcon-illustration-du-concept-remise-diplomes_114360-12063.jpg" alt="">
    </div>
    <div class="data">
        <div class="section">
            <img src="../../../assets/imgs/rb_61529.png" alt="">
            <div class="text">
                <div class="text-title">Bac Science Physique</div>
                <div class="text-details">Lyce nahda ahfir</div>
                <div class="date">2013-2016 <button>more details</button>
                </div>
            </div>
        </div>
        <div class="section">
            <img src="../../../assets/imgs/LOGO_Cisco_CCNA.png" alt="">
            <div class="text">
                <div class="text-title">Diplome Technicien Specialisé en Réseaux Informatique</div>
                <div class="text-details">Ista Technopole Oujda</div>
                <div class="date">2018-2020  <button>more details</button>
                </div>
            </div>
        </div>
        <div class="section">
            <img src="../../../assets/imgs/pngtree-graduation-cap-png-image_5108468.png" alt="">
            <div class="text">
                <div class="text-title">Ingénieur Logiciel</div>
                <div class="text-details">EHEI (Ecole des hautes etudes Ingenieur)</div>
                <div class="date">2021-2024  <button>more details</button>
                </div>
            </div>
        </div>
    </div>

   </div>
</div>



<div class="experience" >
    <div class="title">Experience Proffesion et Projets</div>
    
    <div class="projects" id="projects">
        <div class="projects-icon">
           Projects <ion-icon name="albums-outline"></ion-icon>
        </div>

        <div class="project-items">
            <div class="project-item">
                <div class="bg1"></div>
                <div class="project-title">Ecommerce Web App</div>
                <div class="data">
                        <div class="text">application answer of clients need </div>
                        <div class="technologies"> 
                            <span>Technologies</span>
                            <div class="images">
                                <img src="../../../assets/imgs/fTL08u_H_400x400.png" alt="">
                            <img src="../../../assets/imgs/angular-icon-2048x2048-24b236vf.png" alt="">
                            </div>
                        </div>
                        <div class="date">
                            <ion-icon name="alarm-outline"></ion-icon>    <span>2020-06-05 .. 2020-07-05</span>
                        </div>

                </div>
            </div>
            <div class="project-item">
                <div class="bg1"></div>
                <div class="project-title">Reservation System</div>
                <div class="data">
                        <div class="text">application answer of clients need </div>
                        <div class="technologies"> 
                            <span>Technologies</span>
                            <div class="images">
                                <img src="../../../assets/imgs/fTL08u_H_400x400.png" alt="">
                            <img src="../../../assets/imgs/angular-icon-2048x2048-24b236vf.png" alt="">
                            </div>
                        </div>
                        <div class="date">
                            <ion-icon name="alarm-outline"></ion-icon>    <span>2020-06-05 .. 2020-07-05</span>
                        </div>

                </div>
            </div>
            <div class="project-item">
                <div class="bg1"></div>
                <div class="project-title">Desktop Application of RH System</div>
                <div class="data">
                        <div class="text">application answer of clients need </div>
                        <div class="technologies"> 
                            <span>Technologies</span>
                            <div class="images">
                                <img src="../../../assets/imgs/fTL08u_H_400x400.png" alt="">
                            <img src="../../../assets/imgs/angular-icon-2048x2048-24b236vf.png" alt="">
                            </div>
                        </div>
                        <div class="date">
                            <ion-icon name="alarm-outline"></ion-icon>    <span>2020-06-05 .. 2020-07-05</span>
                        </div>

                </div>
            </div>
            <div class="project-item">
                <div class="bg1"></div>
                <div class="project-title">Desktop Application of RH System</div>
                <div class="data">
                        <div class="text">application answer of clients need </div>
                        <div class="technologies"> 
                            <span>Technologies</span>
                            <div class="images">
                                <img src="../../../assets/imgs/fTL08u_H_400x400.png" alt="">
                            <img src="../../../assets/imgs/angular-icon-2048x2048-24b236vf.png" alt="">
                            </div>
                        </div>
                        <div class="date">
                            <ion-icon name="alarm-outline"></ion-icon>    <span>2020-06-05 .. 2020-07-05</span>
                        </div>

                </div>
            </div>
        </div>
    </div>
    
    <div class="stages" id="experience" >
        <div class="stage-icon">
            Experience Proffesionnel <ion-icon name="bag-outline"></ion-icon>
        </div>

        <div class="stage-items">
            <mat-expansion-panel >
                <mat-expansion-panel-header>
                  <mat-panel-title> Stage PFE Développeur FullStack Java /Angular</mat-panel-title>
                  <mat-panel-description> 4mois</mat-panel-description>
                </mat-expansion-panel-header>
               <div class="stage-details">
                
                    <div class="stage-title">
                        <i class="fa-solid fa-building"></i>
                    <span>Entreprise </span>
                    </div>
                    <div class="stage-info">
                        csn agency
                    </div>
                    
               
               </div>
               <div class="stage-details">
                
                <div class="stage-title">
                    <i class="fa-solid fa-microchip"></i>
                <span>Technologies </span>
                </div>
                <div class="stage-info">
                    <img src="../../../assets/imgs/fTL08u_H_400x400.png" alt="">
                    <img src="../../../assets/imgs/angular-icon-2048x2048-24b236vf.png" alt=""> 
                    

                </div>
                
           
           </div>
           <div class="stage-details">
                
            <div class="stage-title">
                <i class="fa-solid fa-clock"></i>
            <span>Date </span>
            </div>
            <div class="stage-info">
                2024-03-02
            </div>
            
       
       </div>
       <div class="stage-details">
                
        <div class="stage-title description">
        <span>Description </span>
        </div>
        <div class="stage-info ">
           Lorem ipsum dolor sit, amet consectetur
        </div>
        
   
   </div>
              </mat-expansion-panel>
             
                <mat-expansion-panel >
                    <mat-expansion-panel-header>
                      <mat-panel-title> Stage Technicien Specialisé Réseau Informatique</mat-panel-title>
                      <mat-panel-description> 3mois</mat-panel-description>
                    </mat-expansion-panel-header>
                   <div class="stage-details">
                    
                        <div class="stage-title">
                            <i class="fa-solid fa-building"></i>
                        <span>Entreprise </span>
                        </div>
                        <div class="stage-info">
                            Facultés Des Sciences d'Oujda
                        </div>
                        
                   
                   </div>
                   <div class="stage-details">
                    
                    <div class="stage-title">
                        <i class="fa-solid fa-microchip"></i>
                    <span>Technologies </span>
                    </div>
                    <div class="stage-info">
                        <img src="../../../assets/imgs/LOGO_Cisco_CCNA.png" alt="">
                        <img src="../../../assets/imgs/png-clipart-black-penguin-art-linux-distribution-operating-system-command-line-interface-linux-kernel-linux-logo-vertebrate-computer-wallpaper-thumbnail.png" alt=""> 
                        

                    </div>
                    
               
               </div>
               <div class="stage-details">
                    
                <div class="stage-title">
                    <i class="fa-solid fa-clock"></i>
                <span>Date </span>
                </div>
                <div class="stage-info">
                    2019-04-18
                </div>
                
           
           </div>
           <div class="stage-details">
                    
            <div class="stage-title description">
            <span>Description </span>
            </div>
            <div class="stage-info ">
               Lorem ipsum dolor sit, amet consectetur
            </div>
            
       
       </div>
                  </mat-expansion-panel>
           
        </div>
    </div>



    <div class="certificats">
        <div class="certificat-title"><span>Certificats</span> <ion-icon name="medal-outline"></ion-icon></div>
        <div class="certificats-items">
            <div class="certificat-item">
                <img src="../../../assets/imgs/LOGO_Cisco_CCNA.png" alt="">
                <span>CCNA1 CCNA2 CCNA3 CCNA4 CCNA_security</span>
                <ion-icon name="ellipsis-vertical-circle-outline"></ion-icon>
            </div>
            <div class="certificat-item">
                <img src="../../../assets/imgs/Java-Logo.png" alt="">
                <span>Java Basics</span>
                <ion-icon name="ellipsis-vertical-circle-outline"></ion-icon>
            </div>
        </div>
        
    </div>


    <div class="competences" id="competences">
        <div class="competences-title">Compétences <i class="fa-brands fa-creative-commons-nd"></i></div>
        <div class="web">
             <mat-expansion-panel >
                <mat-expansion-panel-header>
                  <mat-panel-title> Developpement Web <i class="fa-solid fa-globe"></i></mat-panel-title>
                  <mat-panel-description> Level</mat-panel-description>
                </mat-expansion-panel-header>
               <div class="competences-details">
                    <div class="description">Spring Boot</div>
                    <div class="info">
                        <span></span>
                    </div>

                </div>
                <div class="competences-details">
                    <div class="description">Node Js</div>
                    <div class="info">
                        <span></span>
                    </div>

                </div>
                <div class="competences-details">
                    <div class="description">.Net Core</div>
                    <div class="info">
                        <span></span>
                    </div>

                </div>
                <div class="competences-details">
                    <div class="description">Angular</div>
                    <div class="info">
                        <span></span>
                    </div>

                </div>
                <div class="competences-details">
                    <div class="description">React Js</div>
                    <div class="info">
                        <span></span>
                    </div>

                </div>
                <div class="competences-details">
                    <div class="description">Vue Js</div>
                    <div class="info">
                        <span></span>
                    </div>

                </div>
               
             </mat-expansion-panel>
             <mat-expansion-panel >
                <mat-expansion-panel-header>
                  <mat-panel-title> DevOps <img src="../../../assets/imgs/devops-2.svg" alt=""> </mat-panel-title>
                  <mat-panel-description> Level</mat-panel-description>
                </mat-expansion-panel-header>
               <div class="competences-details">
                    <div class="description">Docker</div>
                    <div class="info">
                        <span></span>
                    </div>

                </div>
                <div class="competences-details">
                    <div class="description">Kubernetes</div>
                    <div class="info">
                        <span></span>
                    </div>

                </div>
                <div class="competences-details">
                    <div class="description">Testing
                        <span></span>
                    </div>

                </div>
               
               
             </mat-expansion-panel>
        </div>
        
    </div>
    
</div>