* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.nav {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0px;
    width: 100%;
    background-color: white;
    z-index: 50;
}

.logo {
    position: relative;
    left: 200px;
}
.nav .logo img {
    width: 100px;
    height: 100px;
}


.nav .links {
    display: flex;
    flex-grow: 0.3;
    justify-content: space-around;
    align-items: center;
}

.nav .links span {
    border-bottom: 2px solid ;
    padding: 8px 0px;
    cursor: pointer;
}


.links span:hover {
    color: blue;
}

.toDown {
    transform: rotate(180deg);
    transition: .3s;
}


.links button {
    width: 170px;
    height: 40px;
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: 8px;
}

.links button:hover {

    background-color: rgba(0, 0, 0, 0.26);
}
