<div class="nav">

        <div class="logo">
            <img src="../../../assets/imgs/palestine.jpg" alt="">
        </div>
        <div class="links">
            <div class="line {{leftValue}}"></div>
            <span (click)="navigateToSection('Accueil')" >Accueil</span>
            <span  mat-button [matMenuTriggerFor]="menu">A propos <ion-icon  name="chevron-up-outline"></ion-icon></span>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="navigateToSection('formation')" >Formation</button>
                <button mat-menu-item (click)="navigateToSection('experience')" >Expérience Proffesionnel</button>
                <button mat-menu-item (click)="navigateToSection('competences')" >Compétences</button>

              </mat-menu>
            <span (click)="navigateToSection('projects')">Projets</span>
            <span (click)="navigateToSection('contact')">Contact</span>
            <button (click)="openDialog()">Informations Personnel</button>
            <button (click)="logout()">logout</button>

        </div>
    </div>