
<div class="context" id="home">
 


    <div class="line1"></div>
    <div class="line2"></div>
    <div class="bg2"></div>
    <div class="text">
       <p>Bienvenue sur mon Portfolio</p>
       <img src="../../../assets/imgs/DSC06742.JPG" alt="">
       <span class="content">
        Je m'appelle Salah-Eddine Ramdani, ingénieur en informatique et développeur full stack spécialisé en Java et Angular. Passionné par les nouvelles technologies, je conçois des solutions innovantes et performantes pour répondre aux besoins des entreprises. Explorez mon portfolio pour découvrir mes projets, mes compétences, et mes contributions.
       </span>
       <button> Read More ...</button>
       <span>Contact Us :</span>
       <div class="socials">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-linkedin"></i>
        <i class="fa-brands fa-google"></i>
        <i class="fa-brands fa-github"></i>

       </div>
    </div>
    <div class="image">
       <img src="../../../assets/imgs/rb_61529.png" alt=""> 
    </div>

</div>