<app-navbar></app-navbar>
<div class="context">
   <div class="content" #title>
       <div class="title" >Welcome to my Portfolio</div>
       <p>
        Hello! I'm Ramdani Salah-Eddine, a recent graduate and a passionate Full Stack Developer specializing in Java/Angular with a strong foundation in DevOps. I strive to create robust and user-friendly applications, blending social media and e-commerce functionality in innovative ways. Feel free to explore my projects and contact me for collaborations or inquiries!
       </p>
       <button mat-flat-button style="font-size: 16px;background: rgb(53, 53, 192);color: white" >Découvrire plus</button>
       <span>contact me : </span>
       <div class="icons">
       <i class="fa-solid fa-envelope"></i>
       <i class="fa-solid fa-phone"></i>
       <i class="fa-brands fa-linkedin"></i>
       <i class="fa-brands fa-github"></i>
       </div>
   </div>
   <div class="profile" #myElement>
       <p class="image"></p>
       <span>Ramdani salah-eddine</span>
       <div class="description">
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus vitae aliquid perspiciatis blanditiis, rerum quas, harum praesentium fugiat nulla necessitatibus alias optio repellat inventore sit sequi. Harum similique minus fugit?

       </div>
       <button mat-flat-button style="font-size: 16px;background: rgb(53, 53, 192);color: white;">Découvrire plus</button>
   </div>
</div>
<app-formation></app-formation>
<app-experience></app-experience>
<app-competences></app-competences>
<app-cerifs></app-cerifs>
<app-contact></app-contact>
