
<div class="context">
   <div class="content" #title>
       <div class="title" >Welcome to my Portfolio</div>
       <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi, eligendi, repellat debitis ea quo enim voluptates corporis amet vitae cumque doloribus recusandae voluptatum! Magni, numquam a? Fuga voluptates cupiditate id!
       </p>
       <button mat-flat-button style="font-size: 16px;background: rgb(53, 53, 192);color: white" >Découvrire plus</button>
       <span>contact me : </span>
       <div class="icons">
       <i class="fa-solid fa-envelope"></i>
       <i class="fa-solid fa-phone"></i>
       <i class="fa-brands fa-linkedin"></i>
       <i class="fa-brands fa-github"></i>
       </div>
   </div>
   <div class="profile" #myElement>
       <p class="image"></p>
       <span>Ramdani salah-eddine</span>
       <div class="description">
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus vitae aliquid perspiciatis blanditiis, rerum quas, harum praesentium fugiat nulla necessitatibus alias optio repellat inventore sit sequi. Harum similique minus fugit?

       </div>
       <button mat-flat-button style="font-size: 16px;background: rgb(53, 53, 192);color: white;">Découvrire plus</button>
   </div>
</div>
<app-formation></app-formation>
<app-experience></app-experience>
<app-competences></app-competences>
<app-cerifs></app-cerifs>
<app-contact></app-contact>