<div class="context">

    <img src="../../../assets/imgs/DSC06742.JPG" alt="">
    <div class="infos">
        <div class="info"><span>Nom</span> <span>Ramdani salah-eddine</span></div>
        <div class="info"><span>Email</span> <span>Ramdanisalah67&#64;gmail.com</span></div>
        <div class="info"><span>Numéro Télephone</span> <span>0650886820</span></div>
        <div class="info"><span>LinkedIn</span> <span>https://www.linkedin.com/in/salah-eddine-ramdani-156080284/</span></div>

    </div>
</div>