<div class="context">
  <div class="content">
    <i class="fa-solid fa-user"></i>
    <div class="inputs">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="email" >
      </mat-form-field>

      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput [(ngModel)]="password">
      </mat-form-field  > 
      <button mat-flat-button (click)="register()">login</button>

    </div>

    <i class="fa-brands fa-google" (click)="signWithGoogle()"></i>
    <button (click)="forgotPassword()">forgot password ?</button>
  </div>

</div>