<div class="context">
  <div class="side1">
      <div class="title"><ion-icon name="school-outline"></ion-icon> Formation</div>  
  </div>


  <div class="side2">
      <div class="formation" #formation>
          <div class="formation-title">EHEI - École Haute Études Ingénierie</div>
          <div class="formation-text">
            Acquired a strong foundation in software engineering, specializing in microservices, web development, and cloud technologies.
Completed a graduation project focused on integrating e-commerce with social media features using a microservices architecture.
          </div>
          <div class="formation-date">2020/07-02</div>
      </div>
      <div class="formation" #formation>
          <div class="formation-title">School-1</div>
          <div class="formation-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat officiis blanditiis, nihil quisquam quia numquam, ad deleniti vitae dolorem, quod voluptatem ipsa quas amet dolor laboriosam exercitationem repellat alias necessitatibus.</div>
          <div class="formation-date">2020/07-02</div>
      </div>  

      <div class="formation" #formation>
          <div class="formation-title">School-1</div>
          <div class="formation-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat officiis blanditiis, nihil quisquam quia numquam, ad deleniti vitae dolorem, quod voluptatem ipsa quas amet dolor laboriosam exercitationem repellat alias necessitatibus.</div>
          <div class="formation-date">2020/07-02</div>
      </div> 
  </div>
</div>