<div class="context">

  <div class="title">Compétences</div>

  <div class="content">
 
    <div class="cpt">
        <div class="cpt-title">Frontend</div>
        <div class="cpt-text">Angular,VueJs,ReactJs</div>
        <div class="images">
          <img src="../../../assets/imgs/angular-icon-2048x2048-24b236vf-removebg-preview.png"  style="width: 100px;" alt="">
          <img src="../../../assets/imgs/vue-icon-2048x2048-eci1ikst-removebg-preview.png"  style="width: 100px;"alt="">
          <img src="../../../assets/imgs/ReactJs-removebg-preview.png" style="width: 100px;" alt="">

        </div>
    </div>
    <div class="cpt">
      <div class="cpt-title">Backend</div>
      <div class="cpt-text">Spring boot , NodeJs , .net Core</div>
      <div class="images">
        <img src="../../../assets/imgs/springboot.png" alt="">
        <img src="../../../assets/imgs/nodejs.png" alt="">
        <img src="../../../assets/imgs/NET_Core_Logo.svg-removebg-preview.png"  style="width: 80px;" alt="" >

      </div>
  </div>
  <div class="cpt">
    <div class="cpt-title">Devops</div>
    <div class="cpt-text">Docker , Kubernetes , Jenkins</div>
    <div class="images">
      <img src="../../../assets/imgs/Jenkins_logo.svg-removebg-preview.png" style="width: 80px;" alt="">
      <img src="../../../assets/imgs/kisspng-kubernetes-docker-software-deployment-logo-orchest-manage-containers-and-microservices-easily-with-we-5baea144265689.454735931538171204157-removebg-preview.png" alt="">
      <img src="../../../assets/imgs/8b8138c4491769dd53c5dc09b6548ecf-removebg-preview.png" alt="" >

    </div>
</div>
<div class="cpt">
  <div class="cpt-title">UI/UX</div>
  <div class="cpt-text">Figma</div>
  <div class="images">
    <img src="../../../assets/imgs/cae7d25d-8aff-4c49-8189-fad585dfb7cb-cover-removebg-preview.png" alt="">
  

  </div>
</div>

  </div>


</div>