
<div class="context">
  <div class="title">
    Expérience Et Projets
  </div>
  <div class="exps">
    <div class="exp-item">
      <div class="exp-title">stage pfe</div>
      <div class="exp-content">
        <div class="exp-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex quisquam sit qui, corrupti nulla debitis quidem blanditiis quos nesciunt? Molestias dicta nam inventore perspiciatis dolorum dolorem ex odit quia pariatur.</div>
        <div class="exp-date">2020-07-02</div>
        <button mat-flat-button>read more</button>
      </div>
    </div>

    <div class="exp-item">
      <div class="exp-title">stage réseau informatique</div>
      <div class="exp-content">
        <div class="exp-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex quisquam sit qui, corrupti nulla debitis quidem blanditiis quos nesciunt? Molestias dicta nam inventore perspiciatis dolorum dolorem ex odit quia pariatur.</div>
        <div class="exp-date">2020-07-02</div>
        <button mat-flat-button>read more</button>
      </div>
    </div>

    <div class="exp-item">
      <div class="exp-title">Ecommerce web application</div>
      <div class="exp-content">
        <div class="exp-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex quisquam sit qui, corrupti nulla debitis quidem blanditiis quos nesciunt? Molestias dicta nam inventore perspiciatis dolorum dolorem ex odit quia pariatur.</div>
        <div class="exp-date">2020-07-02</div>
        <button mat-flat-button>read more</button>
      </div>
    </div>

    <div class="exp-item">
      <div class="exp-title">stage pfe</div>
      <div class="exp-content">
        <div class="exp-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex quisquam sit qui, corrupti nulla debitis quidem blanditiis quos nesciunt? Molestias dicta nam inventore perspiciatis dolorum dolorem ex odit quia pariatur.</div>
        <div class="exp-date">2020-07-02</div>
        <button mat-flat-button>read more</button>
      </div>
    </div>

    <div class="exp-item">
      <div class="exp-title">stage pfe</div>
      <div class="exp-content">
        <div class="exp-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex quisquam sit qui, corrupti nulla debitis quidem blanditiis quos nesciunt? Molestias dicta nam inventore perspiciatis dolorum dolorem ex odit quia pariatur.</div>
        <div class="exp-date">2020-07-02</div>
        <button mat-flat-button>read more</button>
      </div>
    </div>
  </div>
</div>